@model EmployeeProject.Controllers.EmployeeApiController.ClassEmp1

@{
    ViewData["Title"] = "EditEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Personel Güncelle</h1>
<form method="post">
    <label>ID</label>
    @Html.TextBoxFor(x => x.EmployeeID, new { @class = "form-control" })
    <br />
    <label>Personel Adı</label>
    @Html.TextBoxFor(x => x.EmployeeName, new { @class = "form-control" })
    <br />
    <label>Personel Soyadı</label>
    @Html.TextBoxFor(x => x.EmployeeSurname, new { @class = "form-control" })
    <br />
    <label>Personel Cinsiyeti</label>
    @Html.TextBoxFor(x => x.EmployeeGender, new { @class = "form-control" })
    <br />
    <label>Personel Doğum Tarihi</label>
    @Html.TextBoxFor(x => x.EmployeeBirthDate, new { @class = "form-control" })
    <br />
    <label>Personel Email</label>
    @Html.TextBoxFor(x => x.EmployeeEmail, new { @class = "form-control" })
    <br />
    <label>Personel Telefon Numarası</label>
    @Html.TextBoxFor(x => x.EmployeePhoneNumber, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-success">Güncelle</button>

</form>

